In [1]:
import pandas as pd
import requests as rq
import lxml as xl
import pytrends
from pytrends.request import TrendReq
pytrends = TrendReq()

In [2]:
topic_ls = ["guns", "germs", "recreation"]
gun_ls = ["amunition", "gun stores", "ar-15"]
germs_ls = ["hand sanitzer", "bleach", "toilet paper"]
tv_ls = ["netflix", "weed delivery", "beer delivery"]

In [6]:
# DONT FUCKING RUN THIS CODE AGAIN KELLY!!!!!
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(topic_ls, timeframe = 'today 3-m')
df_2019 = my_req.interest_over_time()
df_2019.head()

            guns  germs  recreation  isPartial
date
2020-01-13    50      3          20      False
2020-01-14    53      3          17      False
2020-01-15    53      4          16      False
2020-01-16    59      3          19      False
2020-01-17    59      3          17      False

In [23]:
#df_2019 = df_2019.drop("isPartial", axis =1)
df_2020 = df_2019
df_2020.to_csv('topics_2020.csv')

            guns  germs  recreation
date
2020-01-13    50      3          20
2020-01-14    53      3          17
2020-01-15    53      4          16
2020-01-16    59      3          19
2020-01-17    59      3          17

In [17]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(gun_ls, timeframe = 'today 3-m')
df_gun_2020 = my_req.interest_over_time()
df_gun_2020.head()

            amunition  gun stores  ar-15  isPartial
date
2020-01-14          1          10     12      False
2020-01-15          0           9     10      False
2020-01-16          1           7     11      False
2020-01-17          1          10     11      False
2020-01-18          1          17     13      False

In [21]:
#df_gun_2020 = df_gun_2020.drop("isPartial", axis =1)
df_gun_2020.to_csv('guns_2020.csv')

In [24]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(germs_ls, timeframe = 'today 3-m')
df_germ_2020 = my_req.interest_over_time()
df_germ_2020.head()

            hand sanitzer  bleach  toilet paper  isPartial
date
2020-01-14              0       7             1      False
2020-01-15              0       6             1      False
2020-01-16              0       7             2      False
2020-01-17              0       7             2      False
2020-01-18              0       8             2      False

In [25]:
df_germ_2020.drop("isPartial", axis = 1)
df_germ_2020.to_csv("germs_2020.csv")

In [26]:
my_req = TrendReq(hl='en-US', tz=360)
my_req.build_payload(tv_ls, timeframe = 'today 3-m')
df_tv_2020 = my_req.interest_over_time()
df_tv_2020.head()

            netflix  weed delivery  beer delivery  isPartial
date
2020-01-14       38              0              0      False
2020-01-15       39              0              0      False
2020-01-16       39              0              0      False
2020-01-17       42              0              0      False
2020-01-18       52              0              0      False

In [27]:
df_tv_2020.drop("isPartial", axis = 1)
df_tv_2020.to_csv("rec_2020.csv")