In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, or_
from sqlalchemy import inspect

In [3]:
engine = create_engine("sqlite:///trends.sqlite")
conn = engine.connect()

In [4]:
print(engine.table_names())

['cdcTweet', 'germs2019', 'germs2020', 'guns2019', 'guns2020', 'netflix_tweet', 'nraTweet', 'rec2019', 'rec2020', 'topic2019', 'topic2020']

In [5]:
result = engine.execute("select * from guns2019")
guns2019 = {}
guns2019date = []
guns2019ammunition = []
guns2019stores = []
guns2019ar15 = []
for row in result:
    guns2019date.append(row[1])
    guns2019ammunition.append(row[2])
    guns2019stores.append(row[3])
    guns2019ar15.append(row[4])
result.close()

In [6]:
guns2019['dates'] = guns2019date
guns2019['ammunition'] = guns2019ammunition
guns2019['stores'] = guns2019stores
guns2019['ar15'] = guns2019ar15

In [7]:
result = engine.execute("select * from germs2019")
germs2019 = {}
dates = []
hs = []
bleach = []
tp = []
for row in result:
    dates.append(row[1])
    hs.append(row[2])
    bleach.append(row[3])
    tp.append(row[4])
result.close
germs2019['dates'] = dates
germs2019['hand sanitizer'] = hs
germs2019['bleach'] = bleach
germs2019['toilet paper'] = tp

(0, '2019-01-06', 1, 11, 2)
(1, '2019-01-13', 1, 10, 2)
(2, '2019-01-20', 1, 11, 2)
(3, '2019-01-27', 1, 11, 2)
(4, '2019-02-03', 1, 11, 2)
(5, '2019-02-10', 1, 11, 30)
(6, '2019-02-17', 1, 11, 58)
(7, '2019-02-24', 1, 10, 5)
(8, '2019-03-03', 1, 11, 3)
(9, '2019-03-10', 1, 11, 3)
(10, '2019-03-17', 1, 11, 2)
(11, '2019-03-24', 1, 11, 2)
(12, '2019-03-31', 1, 11, 2)
(13, '2019-04-07', 1, 11, 2)
(14, '2019-04-14', 1, 12, 2)
(15, '2019-04-21', 1, 11, 2)
(16, '2019-04-28', 1, 11, 2)

In [9]:
result = engine.execute("select * from rec2019")
rec2019 = {}
date = []
netflix = []
weed = []
beer = []
for row in result:
    date.append(row[1])
    netflix.append(row[2])
    weed.append(row[3])
    beer.append(row[4])
result.close()
rec2019["date"] = date 
rec2019["netflix"] = netflix 
rec2019["weed"] = weed 
rec2019["beer"] = beer

{'date': ['2019-01-06',
  '2019-01-13',
  '2019-01-20',
  '2019-01-27',
  '2019-02-03',
  '2019-02-10',
  '2019-02-17',
  '2019-02-24',
  '2019-03-03',
  '2019-03-10',
  '2019-03-17',
  '2019-03-24',
  '2019-03-31',
  '2019-04-07',
  '2019-04-14',
  '2019-04-21',
  '2019-04-28'],
 'netflix': [60,
  57,
  54,
  52,
  48,
  47,
  46,
  43,
  43,
  42,
  43,
  42,
  43,
  42,
  44,
  44,
  44],
 'weed': [6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 7],
 'beer': [8, 8, 8, 8, 9, 8, 8, 9, 9, 9, 9, 9, 10, 9, 9, 9, 9]}

In [11]:
result = engine.execute("select * from topic2019")
topic2019 = {}
date = []
guns = []
germs = []
recreation = []
for row in result:
    date.append(row[1])
    guns.append(row[2])
    germs.append(row[3])
    recreation.append(row[4])
topic2019["date"] = date
topic2019["guns"] = guns    
topic2019["germs"] = germs    
topic2019["recreation"] = recreation
topic2019

{'date': ['2019-01-06',
  '2019-01-13',
  '2019-01-20',
  '2019-01-27',
  '2019-02-03',
  '2019-02-10',
  '2019-02-17',
  '2019-02-24',
  '2019-03-03',
  '2019-03-10',
  '2019-03-17',
  '2019-03-24',
  '2019-03-31',
  '2019-04-07',
  '2019-04-14',
  '2019-04-21',
  '2019-04-28'],
 'guns': [46, 47, 46, 46, 46, 48, 49, 47, 48, 47, 49, 47, 44, 45, 44, 43, 43],
 'germs': [2, 3, 3, 3, 3, 3, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2],
 'recreation': [16,
  15,
  15,
  15,
  15,
  15,
  16,
  15,
  16,
  17,
  16,
  16,
  17,
  16,
  16,
  16,
  17]}

In [16]:
result = engine.execute("select * from cdcTweet")
cdcTweet= {}
tweet = []
for row in result:
    tweet.append(row[2])
cdcTweet['tweet'] = tweet